* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    --text-color: black;
    --color1: rgba(230, 230, 230, 0.5);
    --color2: rgba(200, 200, 200, 0.8);

    color: var(--text-color);
    transition: 200ms;
}
body.dark {
    --text-color: white;
    --color1: rgba(130, 130, 130, 0.5);
    --color2: rgba(100, 100, 100, 0.8);

}
.rounded {
    background-color:var(--color1);
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.darkBg {
    background-color: var(--color2);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}
body {
    background-image: url('./background.jpg' );
    padding: 20px;
    animation: bg-animation 1000s infinite linear;
}
@keyframes bg-animation {
    0% {
        background-position: left top;
    }
    25% {
        background-position: right top;
    }
    50% {
        background-position: right bottom;
    }
    75% {
        background-position: left bottom;
    }
    100% {
        background-position: left top;
    }
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#changeBtn {
    width: 50px;
    cursor: pointer;
    transition: 200ms;
}
#changeBtn.active {
    transform: rotate(180deg);
    filter: invert(1);
}
nav.darkBg{
    padding: 20px 10px;
}
nav.darkBg button {
    background-color: transparent;
    border-radius: 10px;
    border: 0;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    color: var(--text-color);
}
nav.darkBg button.active {
    background-color: orange;
}
.search {
    display: flex;
    gap: 10px;
}
.search input {
    width: 300px;
    flex-grow: 1;
    background-color: rgba(210, 210, 210, 0.7);
    outline: none;
    border: 0;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 20px;
}
.search button {
    border: 0;
    padding: 5px 20px;
    cursor: pointer;
    margin-bottom: 0;
    color: var(--text-color);
}
main.rounded {
    padding: 10px;
}
.textCenter {
    text-align: center;
}
.movie {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.movieImage {
    /* background-image: url("./Front_53_OMDB/img/film1.jpg"); */
    width: 400px;
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
}
.movieDesc {
    flex: 300px 1 0;
}
.similarMovies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.similarCard {
    height: 500px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.similarCard h3 {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(210, 210, 210,0.7);
    width: 100%;
}
.loader {
    height: 8px;
    --c: no-repeat linear-gradient(var(--color2) 0 0);
    background: var(--c), var(--c), white;
    background-size: 60% 100%;
    animation: l16 3s infinite;

}
.loader {
    display: none;
}
.message {
    display: none;
    background-color: rgba(232, 169, 169, 0.5)
}
.movie, .movieTitle {
    display: none;
}
@keyframes l16 {
    0% {background-position: -150% 0, -150% 0}
    66% {background-position: 250% 0, -150% 0}
    100% {background-position: 250% 0, 250% 0}
}